.wrapp{
    background-color: #343F4B ;
    
}

.head{
    display:flex;
    justify-content: space-between;
}

.titre{
    color: white;
    background-color: red;
    width: 200px;
    height: 22vh;
    padding-top: 13vh;
    
}
.titre h1{
    text-align: right;
}

a{
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, serif;
}

.navigation{
    color:white;
    height: 10vh;
    padding-left: 15vw;
    padding-top: 5vh;
    font-size: 10px; 
}

@media screen and (min-width: 750px) {
    .navigation {
      padding-top: 10vh;
      display:flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      font-size : 25px;
      
    }
  }