<div class="wrapp">

    <div class="head">
        <div class="titre">
            <h1>#SUMO</h1>
        </div>

        <!-- Partie connexion avec le bouton se connecter -->
      <div class="navigation">
        <div class="deconnexion">
            <a routerLink="/accueil">&nbsp;Déconnexion&nbsp;</a>
        </div>
        <div class="equipement">
            <a routerLink="/equipement">&nbsp;Equipements&nbsp;</a>
        </div>
        <div class="terrain">
            <a routerLink="/terrain">&nbsp;Terrains&nbsp;</a>
        </div>
        <div class="accueil">
          <a routerLink="/sport">&nbsp;Accueil&nbsp;</a>
        </div>
          
      </div>


    </div>


</div>