<div class="wrapp">

    <h1>Equipement</h1>
    <ul>
        <li><img src="{{equipement.urlPhotoEquipement1}}"/><br>{{equipement.nomEquipement1}}</li>
        <li><img src="{{equipement.urlPhotoEquipement2}}"/><br>{{equipement.nomEquipement2}}</li>
        <li><img src="{{equipement.urlPhotoEquipement3}}"/><br>{{equipement.nomEquipement3}}</li>
        <li><img src="{{equipement.urlPhotoEquipement4}}"/><br>{{equipement.nomEquipement4}}</li>
        <li><img src="{{equipement.urlPhotoEquipement5}}"/><br>{{equipement.nomEquipement5}}<li>
        </li>
    </ul>

</div>