h1{
    color: white;
    margin-bottom: 1em;
}


li{
    list-style-type: none;
    color: white;
}

img {
    width : 10em;
    height : 10em;
    margin-top : 3em;
}

@media screen and (max-width: 500px) {
    img{
        width : 8em;
        height : 8em; 
        }            
    }

@media screen and (min-width: 500px) {
    img{
        width : 15em;
        height : 15em; 
        }            
    }

@media screen and (min-width: 700px) {
    img{
        width : 20em;
        height : 20em; 
        }            
    }