h1{
    color: white;
    margin-bottom: 1em;
}
@media screen and (max-width: 500px) {
    h1 {
        font-size: 15px;
    }
}

h6{
    color: white;
    padding-left: 1em;
}

@media screen and (max-width: 600px) {
    h6 {
        font-size: 12px;
    }
}

img {
    width : 10em;
    height : 10em;
    margin-top : 3em;
}

.equipement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1em;
}