.wrapp{
    background-color: #343A40;
}

p, h1 , a{
    color : white;
}

h1{
    text-align: center;
    color:white;
    padding-top : 1em;
    padding-bottom: 1em;
}

hr{
    border : solid 0.5px grey;
}

h3{
    color: red;
    text-align: right;
    padding-right : 20%;
}

.commentaires{
    text-align: left;
    margin-left : 20%;
    margin-right: 10%;
}

li{
    list-style-type: none; 
}