<div class='wrapp'>
    <app-head></app-head>

    <hr>
    <h1>Ajouter un sport</h1>
    <hr>
    <!-- Formulaire -->
    <div class="formAddSport">
        <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <fieldset>

                <!---  Nom du sport --->
                <div class="form-group">
                    <label for="inputName"></label>
                    <input type="text" placeholder="Nom du sport" name="nomSport" ngModel required /><br>
                </div>

                <!---  Description --->
                <div class="form-group">
                    <label for="inputDescription"></label>
                    <input type="text" placeholder="Description" name="descriptionSport" ngModel required /><br>
                </div>

                <!---  Saison --->
                <div class="form-group">
                    <label for="inputSeason"></label>
                    <input type="text" placeholder="Saison" name="saisonSport" ngModel required /><br>
                </div>

                <!---  Règles --->
                <div class="form-group">
                    <label for="inputRules"></label>
                    <textarea name="reglesSport" placeholder="Règles du sport" cols="42" rows="10" ngModel required></textarea>
                    <!--<input type="text" placeholder="Règles du sport" name="reglesSport" ngModel required /><br>-->
                </div>

                <!---  Image --->
                <div class="form-group">
                    <label for="inputPicture"></label>
                    <input type="text" placeholder="Url photo" name="urlImageSport" ngModel required /><br>
                </div>

                <!-- Terrain
                <div class="form-group">
                    <label for="select">Terrain</label><br>
                    <select id="select" name="terrain">
                        <option>Selectionner</option>
                        <option value="1">Oval</option>
                        <option value="2">Gymnase</option>
                        <option value="3">Piscine</option>
                        <option value="4">Gymnase</option>
                    </select>
                </div> -->

                <!--- Bouttons --->
                <div class="form-group">
                    <button type="reset" class="btn btn-default">Supprimer</button>
                    <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Valider</button>
                </div>

            </fieldset>
        </form>
    </div>

</div>