<div class='wrapp'>
<app-head></app-head>

    <!-- Formulaire -->
    <div class="formAddSport">
        <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
        
            <ul>
                <li><input type="text" placeholder="Nom du sport"  name="nomSport" ngModel required /></li><br>
                <li><input type="text" placeholder="Description" name="descriptionSport" ngModel required/></li><br>
                <li><input type="text" placeholder="Saison" name="saisonSport" ngModel required/></li><br>
                <li><input type="text" placeholder="Règles du sport" name="reglesSport" ngModel required /></li><br>
                <li><input type="text" placeholder="Url photo" name="urlImageSport" ngModel required/></li><br>

                <li><div class="form-group">
                    <label for="select">Terrain</label><br>
                    <select id="select" name="terrain">
                        <option>Selectionner</option>
                        <option value="1">Oval</option>
                        <option value="2">Gymnase</option>
                        <option value="3">Piscine</option>
                        <option value="4">Gymnase</option>
                    </select>
                </div></li>

                <!--- Bouttons --->
                <div class="form-group">
                    <button type="reset" class="btn btn-default">Supprimer</button>
                    <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Valider</button>
                </div>
            </ul>
        </form>
    </div>

</div>
