.wrapp{
    background-color: #343F4B ;
}

h1{
    text-align: center;
    color:white;
    padding-top : 1em;
    padding-bottom: 1em;
}

hr{
    border : solid 0.5px grey;
}

p{
    color:white;
    text-align: left;
}

img{
    width: 35%;
    height: 35%;
}