.wrapp{
    background-color: #343A40;
}

.head{
    display:flex;
}

.titre{
    color: white;
    background-color: red;
    width: 60vw;
    height: 10vh;
    padding-top: 13vh;
    
}
.titre h1{
    text-align: right;
}

a{
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, serif;
}

.connexion{
    color:white;
    width: 40vw;
    height: 10vh;
    padding-top: 5vh;
    padding-left: 3vw;
   
}
a{
color: black;
}