<div class="comments">
  <br>

  <!---  Formulaire des commentaires --->
  <div class="formulaire">
    <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <fieldset>
            <legend><p>Publier un commentaire</p></legend>
            <div class="form-group">
                <label for="textComment"></label>
                <textarea name="texteCommentaire" placeholder="Votre commentaire" cols="35" rows="8" ngModel required></textarea><br>
               <!-- <input type="text" placeholder="Votre commentaire" name="texteCommentaire" ngModel required><br>-->
                <button type="submit" [disabled]="f.invalid" class="btn btn-danger">Publier</button>
            </div>
        </fieldset>
    </form>
    </div>
  <h3>Commentaires</h3>
  <br>
  <hr>
  <br>

  <li class="commentaires" *ngFor="let commentaire of commentaireList">
      <!--<p>Publié le {{commentaire.dateCommentaire | date : ' dd MMM y'}}</p>-->
      <p>{{commentaire.texteCommentaire}}</p>
      <a href="commentaire/{{commentaire.idCommentaire}}" type="button">Supprimer</a>
      <br><br><br>
      <hr>
  </li>
</div>

<!--<button type="submit" class="btn btn-primary">Supprimer</button>-->