p, h1 , a{
    color : white;
}

.comments{
    margin-top: 5em;
}

hr{
   width: 40%;
    background-color: red;
    height: 1px;
    align-content:right;
}

h3{
    color: red;
    text-align: right;
    padding-right : 20%;
}

.commentaires{
    text-align: right;
    margin-left : 20%;
    margin-right: 10%;
}

li{
    list-style-type: none; 
}
