<div class="wrapp">

  <app-head></app-head>
  <hr>
  <h1>Liste des equipements</h1>
  <hr>

  <li *ngFor="let equipement of equipementList">
   <p>{{equipement.nomEquipement1}}<br><br>
    <img src="{{equipement.urlPhotoEquipement1}}"/>
  
  <p>{{equipement.nomEquipement2}}<br><br>
    <img src="{{equipement.urlPhotoEquipement2}"/>
  
  <p>{{equipement.nomEquipement3}}<br><br>
    <img src="{{equipement.urlPhotoEquipement3}}"/>
  
  <p>{{equipement.nomEquipement4}}<br><br>
    <img src="{{equipement.urlPhotoEquipement4}}"/>
  
  <p>{{equipement.nomEquipement5}}<br><br>
    <img src="{{equipement.urlPhotoEquipement5}}"/>

  </p>
    <hr>

  </li>

</div>