<div class="wrapp">

  <app-head></app-head>
  <hr>
  <h1>Tous les sports</h1>
  <hr>

  <div class="sports">
    <h6 *ngFor="let sport of sportList">
      <div class="alignementsport">
        <div class="casesport">
          <a href="sport/{{sport.idSport}}"><img src="{{sport.urlImageSport}}" /></a>
        </div>
        <div class="infosport">
          {{sport.nomSport}}<br>
          {{sport.saisonSport}}<br>
          {{sport.descriptionSport}}<br>
        </div>
      </div>
    </h6>
  </div>
  <app-footer></app-footer>
</div>



<!--<div *ngIf="nomSport === 'Cricket'">
    <h4>Sport : {{ sport.nomSport }}
      {{sport.saisonSport}}<br>
      {{sport.descriptionSport}}<br>
      {{sport.idSport}}</h4>
  </div>
</div>-->