<div class="wrapp">
    <!-- Partie supérieur gauche de la page -->
    <div class="head">
        <div class="titre">
            <h1>#SUMO</h1><p>Sports venus d'ailleurs</p>
            
        </div>

        <!-- Partie connexion avec le bouton se connecter -->
        <div class="connexion">
            <h3>Déjà inscrit?</h3>
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Se connecter</button>
        </div>
    </div>


    <!-- Corps de la page de connexion -->
    <div class="texteaccueil">
        
        <p><span id="sumo">#SUMO</span> découvrez et partagez de nouvelles expériences sportives</p>
    </div>

    <!-- Formulaire
    <div class="formulaireaccueil">
        <form ngSubmit="onSubmit(f)" #f ="ngForm">
            <ul>
                <li><input type="text" placeholder="Nom" required name="nomUser" ngModel /></li><br>
                <li><input type="text" placeholder="Prenom" required name="prenomUser" ngModel /></li><br>
                <li><input type="text" placeholder="Email" required name="emailUser" ngModel /></li><br>
                <li><input type="password" placeholder="Mot de passe" required name="passwordUser" ngModel /></li><br>
                <li><input type="password" placeholder="Confirmation" required name="passwordUser" ng Model /></li><br>
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">S'inscrire</button>
            </ul>
        </form>
    </div>-->
    <div class="formulaire">
        <div class="row custom-row">
            <div class="col-sm-5 custom-container jumbotron">

                <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <fieldset>
                        <legend>Inscription</legend>

                        <!---  Nom --->
                        <div class="form-group">
                            <label for="inputName"></label>
                            <input type="text" id="Nom" placeholder="Nom" name="nomUser" ngModel required>
                        </div>

                        <!---  Prénom --->
                        <div class="form-group">
                            <label for="inputSurname"></label>
                            <input type="text" id="Prenom" placeholder="Prénom" name="prenomUser" ngModel required>
                        </div>


                        <!--- Email --->
                        <div class="form-group">
                            <label for="inputEmail"></label>
                            <input type="text" id="Email" placeholder="Email" name="emailUser" ngModel required>
                        </div>

                        <!--- Mot de passe --->
                        <div class="form-group">
                            <label for="inputPassword"></label>
                            <input type="password" id="Password" placeholder="Mot de passe" name="passwordUser"
                                ngModel required>
                        </div>

                        <!--- Confirmation --->
                        <div class="form-group">
                            <label for="inputPassword"></label>
                            <input type="password" id="Password" placeholder="Confirmation" name="passwordUser2"
                                ngModel required>
                        </div>


                        <!--- Genre 
                        <div class="form-group">
                            <label for="select">Genre</label>
                            <select id="select">
                                <option>Selectionner</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Autre</option>
                            </select>
                        </div>-->

                        <!--- Termes et conditions, checkbox 
                        <div class="form-group checkbox">
                            <label>
                                <input type="checkbox" ngModel required> Je confirme accepter les termes et conditions
                            </label>
                        </div>-->

                        <!--- Bouttons --->
                        <div class="form-group">
                            <button type="reset" class="btn btn-default">Supprimer</button>
                            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Submit</button>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>