<app-head></app-head>
<!--<div class="wrapp">
    creation d'un formulaire selon la methode template -->

    <div class="wrapp">

        <!-- Champs de rédaction du commentaire  -->
        <h1>Commentaire</h1>
        <div class="redactioncommentaire">
            <form action="" class="commentaire">
                <textarea cols="35" rows="10"></textarea><br>
                <input class="bouton" type="button" value="Publier" type="submit">
            </form>
        </div>

    
    <app-footer></app-footer>
